---
import NormalPageLayout from "../layouts/NormalPageLayout.astro";
import Markdown from '../util/markdown';
import Assets from '../util/assets'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

import { subtitle, content, googleReviews } from '../content/fixed-pages/about.json';
import { Image } from "astro:assets";

import bookingAward from '../assets/images/booking-award.png';

const renderedContent = Markdown.render(content);

interface Service extends CollectionEntry<'services'> {
    iconSvg?: string
}


const services: Service[] = await getCollection("services")

for (const service of services) {
    service.iconSvg = await Assets.getSvg(service.data.icon, {
        addClasses: 'size-6 md:size-10 shrink-0',
        strokeWidth: 1,
    })
}
---
<NormalPageLayout title="Rólunk" subtitle={subtitle} href="/about-us">
    <span slot="title">Rólunk</span>
    <span slot="description">
        {subtitle}
    </span>

    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div set:html={renderedContent} class="prose lg:prose-xl prose-p:text-justify px-5 md:px-0 md:w-2/3 mx-auto">
            </div>
        </section>
        <section class="w-full bg-gray-50">
            <div class="prose lg:prose-xl prose-p:text-justify px-5 md:px-0 md:w-2/3 mx-auto">
                <h3>
                    Ezeket mondták rólunk:
                </h3>
                <div class="grid grid-cols-2 gap-5">
                    {googleReviews.map(review => (
                        <div>
                            <div class="bg-white border border-gray-200 shadow-sm rounded-lg">
                                <div class="p-4 h-full w-full flex flex-col gap-y-2">
                                    <div class="text-md text-gray-800">
                                        {review.review}
                                    </div>
                                    <div class="text-gray-800 text-xs md:text-sm">
                                        {review.name}
                                    </div>
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
                <div class="w-1/2 mx-auto">
                    <Image src={bookingAward} alt="Booking.com értékelésünk"></Image>
                </div>
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
 