---
import NormalPageLayout from "../layouts/NormalPageLayout.astro";
import Markdown from '../util/markdown';

import { subtitle, content, experiences, events } from '../content/fixed-pages/experiences.json';
import { Picture } from "astro:assets";
import Assets from "../util/assets";

import dayjs from 'dayjs'
import isSameOrBefore from "dayjs/plugin/isSameOrBefore.js"
import 'dayjs/locale/hu'
dayjs.extend(isSameOrBefore)

const sortedEvents = events.map(
    evt => {
        return {
            title: evt.title,
            link: evt.link,
            date: dayjs(evt.date)
        }
    }
).sort((a, b) => {
    return a.date.diff(b.date)
})

const loadedExperiences = [];

for (const experience of experiences) {
    const image = Assets.getImage(experience.image);

    await image;

    loadedExperiences.push({
        ...experience,
        image: image,
        renderedContent: Markdown.render(experience.content)
    })
}

const renderedContent = Markdown.render(content);
---
<NormalPageLayout title="Élmények" subtitle={subtitle} href="/experiences">
    <span slot="title">Élmények</span>
    <span slot="description">
        {subtitle}
    </span>

    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div set:html={renderedContent} class="prose lg:prose-xl prose-p:text-justify px-5 md:px-0 md:w-2/3 mx-auto">
            </div>
        </section>
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-7 gap-y-7 px-5 md:px-0 md:w-2/3 mx-auto">
                {loadedExperiences.map(experience => (
                    <div class="bg-white border border-gray-200 shadow-sm rounded-lg">
                        <div class="rounded-t-lg h-full w-full flex flex-col gap-y-4 items-center">
                            <div class="w-full h-64">
                                <Picture formats={["webp"]} class="rounded-t-lg w-full h-64 object-cover" src={experience.image} alt={experience.title} />
                            </div>
                            <div class="flex flex-col justify-between gap-y-2 h-full w-full px-4 pb-4">
                                <div class="flex flex-col gap-y-2">
                                    <h3 class="text-lg font-bold">
                                        {experience.title}
                                    </h3>
                                    <div set:html={experience.renderedContent} class="prose prose-p:text-justify">
                                    </div>
                                    <ul class="list-disc list-inside">
                                        {experience.goodToKnow.map(gtk => (
                                            <li class="text-gray-600">{gtk.entry}</li>
                                        ))}
                                    </ul>
                                </div>
                                {experience.link &&
                                    <div class="flex flex-row-reverse">
                                        <a href={experience.link} target="_blank" class="py-2 px-3 shadow-sm inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white font-semibold hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-blue-500">
                                            Részletek
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                ))} 
            </div>
        </section>
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div class="px-5 md:px-0 md:w-2/3 mx-auto">
                <h3 class="md:text-3xl pb-2">
                    Események
                </h3>
                <div class="flex flex-col gap-y-2">
                    {sortedEvents.map(evt => (
                        <div class="flex flex-row bg-white justify-between items-center border border-gray-200 shadow-sm rounded-lg p-4">
                            <div class="flex flex-row gap-x-5 items-center">
                                <div class="text-green-800 font-semibold">
                                    {evt.date.locale('hu').format('MMMM')}&nbsp;{evt.date.locale('hu').format('DD.')}     
                                </div>
                                <div>
                                    {evt.title}
                                </div>
                            </div>
                            <a href={evt.link} target="_blank" class="py-2 px-3 shadow-sm inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white font-semibold hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-blue-500">
                                Részletek
                            </a>
                        </div>
                    ))}
                </div>
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
