---
import { marked } from "marked"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Hero from '../components/home/Hero.astro'
import About from "../components/home/About.astro"
import FeatureHighlight from "../components/home/FeatureHighlight.astro"
import ImageFeatures from "../components/home/ImageFeatures.astro"
import TileFeatures from "../components/home/TileFeatures.astro"

import {tileFeatures, imageFeatures, featureHighlight, greetingTitle, greetingSubtitle, aboutTitle, aboutText} from "../content/fixed-pages/home.json"

const aboutTextContent = marked(aboutText)
---

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script>import "preline/dist/preline.js";</script>
</head>
<body>
	<Header href="/" />
    <main id="content" class="">
        <div class="w-full h-[56px]"></div>

        <Hero title={greetingTitle} subtitle={greetingSubtitle} />

        <FeatureHighlight features={featureHighlight} />

        <About title={aboutTitle} content={aboutTextContent} />
        
        <ImageFeatures features={imageFeatures}/>
        
        <TileFeatures features={tileFeatures}/>

		<Footer />
    </main>       
</body>
</html>
