---
import { Image } from 'astro:assets'
import Assets from '../util/assets'

import { address, phone, email, facebook, instagram } from '../content/general/contact.json'
import { image as prettyImage } from '../content/general/pretty.json'
import * as footerContent from '../content/general/footer.json'
import Markdown from '../util/markdown'
const loadedPrettyImage = Assets.getImage(prettyImage)

const renderedLeftContent = Markdown.render(footerContent.leftContent)
const renderedNewsletterContent = Markdown.render(footerContent.newsletterContent)
---

<section class="w-full bg-stone-200 min-h-[50vh] pb-5">
    <div class="md:w-2/3 h-full mx-auto">
        <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-x-10 gap-y-5 pt-10">
            <div class="px-5 sm:px-0 space-y-2">
                <h2 class="w-full text-stone-600 text-2xl font-semibold playfair-display">
                    {footerContent.leftTitle}
                </h2>
                <div set:html={renderedLeftContent} class="text-stone-600 prose text-justify">
                </div>
            </div>
            <div class="px-5 sm:px-0 space-y-2">
                <h2 class="w-full text-stone-600 text-2xl font-semibold playfair-display">
                    Népszerű oldalak
                    <div class="pt-1 hidden md:block text-stone-200">
                        spacing
                    </div>
                </h2>
                <div>
                    <ul class="flex flex-col gap-y-2 text-stone-600 text-md underline">
                        {footerContent.popularLinks.map((link) => (
                            <li>
                                <a href={link.link}>
                                    {link.title}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            </div>
            <div class="px-5 sm:px-0 space-y-2">
                <!--
                <h2 class="w-full text-stone-600 text-2xl font-semibold playfair-display">
                    Hírlevél
                    <div class="pt-1 hidden md:block text-stone-200">
                        spacing
                    </div>
                </h2>
                <div set:html={renderedNewsletterContent} class="text-stone-600 prose text-justify">
                </div>
                 -->
            </div>
            
        </div>

        <div class="w-full pt-10">
            <div class="px-5 sm:px-0 h-full flex flex-col gap-y-5 justify-center">
                <div class="flex flex-col gap-y-2 text-stone-600 text-md">
                    <p>
                        {address}
                    </p>
                    <p>
                        Telefon: {phone}
                    </p>
                    <p>
                        Email: {email}
                    </p>
                </div>
                <div class="flex gap-x-2">
                    <a href={facebook} class="inline-flex items-center text-stone-600 bg-stone-300 hover:bg-green-100 p-1.5 rounded-full focus:outline-none focus:bg-gray-100" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-6 lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
                    </a>

                    <a href={instagram} class="inline-flex items-center text-stone-600 bg-stone-300 hover:bg-green-100 p-1.5 rounded-full focus:outline-none focus:bg-gray-100" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-6 lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
                    </a>
                </div>
                <div>
                    <Image src={loadedPrettyImage} alt="Szép kártya elfogadóhely" class="shadow-md rounded-lg w-full md:w-3/8">
                </div>
                { false &&
                <div class="flex flex-col gap-y-2 text-stone-600 text-md font-light">
                    <a href="/aszf" class="hover:underline">
                        Általános Szerződési Feltételek
                    </a>
                    <a href="/adatvedelem" class="hover:underline">
                        Adatvédelmi Tájékoztató
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</section>
