---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { Image } from 'astro:assets'
import Assets from '../util/assets'

const { title, subtitle, href, coverImage } = Astro.props

const loadedCoverImage = coverImage && Assets.getImage(coverImage)
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL('/apartman/gpa-main.webp', Astro.url);
---
<!doctype html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title + "| Good Place Apartman Nyírbátor"}</title>
    <meta property="og:title" content={title + "| Good Place Apartman Nyírbátor"}>
    <meta property="og:type" content="website">
    <meta property="og:description" content={subtitle}>
    <meta name="description" content={subtitle}>
    <meta property="og:url" content={canonicalURL}>
    <meta property="og:image" content={socialImageURL}>


  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <script>import "preline/dist/preline.js";</script>
    <slot name="head"></slot>
</head>
<body>
    <Header href={href}></Header>  
    <main id="content" class="">
        <div class="w-full h-[56px]">
                
        </div>
        <section class="w-full relative flex flex-col justify-center bg-green-700">
            {loadedCoverImage && <Image
                src={loadedCoverImage}
                alt={title}
                class="absolute z-0 top-0 left-0 w-full h-full object-cover"
            />}
            <div class="relative top-0 left-0 z-10 pl-5 lg:pl-[15rem] flex flex-col gap-y-3 justify-center min-h-[calc(50vh)] sm:min-h-[calc(50vh)]">
                <h1 class="playfair-display font-bold text-4xl md:text-6xl text-white drop-shadow-md">
                    <slot name="title"></slot>
                </h1>
                <p class="w-3/4 md:w-1/3 text-white">
                    <slot name="description"></slot>
                </p>
            </div>
        </section>

        <slot name="content"></slot>

        <Footer></Footer>
    </main>       
</body>
</html>
